.chatbot{
    position:absolute;
    background-color:rgb(29, 71, 118);
    width:100%;
    height:100%;
}

.togglebuttondisappear{
    width:3.6em;
    box-shadow: #fb6081ae 0px 1px 6px, #fb6081ae 0px 2px 24px ;
    background-color:rgb(237, 32, 76);
    height:3.6em;
    border-radius:1.8em;
    bottom:4%;
    right:3%;
    display:none;
    align-items:center;
    position: absolute;

}
.togglebutton{
    width:3.6em;
    box-shadow: #fb6081ae 0px 1px 6px, #fb6081ae 0px 2px 24px ;
    background-color:rgb(237, 32, 76);
    height:3.6em;
    border-radius:1.8em;
    bottom:4%;
    right:3%;
    align-items:center;
    position: absolute;
    animation:enters ease-in-out 0.3s;

}


.toggleicon{
    margin-top:32%;
    margin-left:30%;
    color:white;

}
.notdisplayed{
    display:none !important;
}
.hide{
    animation: leaves .3s ease-in-out alternate !important;
    height:0 !important;
    width:0 !important;
    bottom:5.3%;
    right:3.5%;
    position: absolute;
    transform-origin: bottom right;


}
.show{
    animation: enters .3s ease-in-out alternate !important;
}
.wholechatbot{
    background-color:transparent;
    /*height:70%;
    width:24%;
    */
    bottom:0%;
    right:0%;
    
    height:100%;
    width:100%;
    position: absolute;
    transform-origin: bottom right;
    
    /* transition: transform 0.3s ease;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s; */

}
/* .wholechatbotdisapper{ */
    /* background-color:transparent; */
    /* display: none; */
    /* position: absolute;
    animation: leaves .3s ease-out; */
    /* transform: scale(1); 
    transform-origin: bottom right;
    transition: transform 0.3s ease;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    */
/* } */
.test{
    display:none !important;
}
.header{
    background: linear-gradient(#EDEDED 2%,#EDEDED 62%);

    height:13%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: flex;
    border-radius:30px;
}
.montyimg{
    width:90%;
    height:90%;
    margin-top: 4%;
}

.chattitle{
    color:#21292e;
    font-weight:bold;
    font-size:17px;
    margin-left:4%;
    font-family: sans-serif;
    animation: fadeInRight 2s ease-in-out;
}
.exit{
    right:5%;
    top:3%;
    cursor: pointer;
    animation: popup 0.7s;
    color:#FFFFFF;
    position: absolute;

}
.circle{
    height:44px;
    width: 44px;
    background-color:white;
    border-radius:22px;
    margin-left: 7%;
    animation: pop-swirl 3s;

}
@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(40px);
    }
    to {
      opacity: 1;
    }
  }
  @keyframes pop-swirl {
    0% {
      transform: scale(0) rotate(360deg);
    }
    60% {
      transform: scale(0.8) rotate(-10deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }

  .body{
      height:74%;
      overflow-y: scroll;
      padding-top: 6px;
      background: linear-gradient(#f3f3f3 2%,#F5F5F5 62%);
      border-top-left-radius: 27px;
      border-top-right-radius: 27px;
      margin-top: 5px ;
  }
  .footer{
      background-color: #f5f5f5;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    position: relative;
  }
  .input{
    border: 0;
    border-radius: 0;
    border-top: 1px solid #eee;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px;
    opacity: 0.8;
    outline: none;
    padding: 16px 52px 16px 10px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 27px !important;
    background-color: #FAFAFA ;
    /* filter: drop-shadow(12px 12px 10px rgba(0, 0, 0, 0.432)) !important; */
    color: black ;
    flex:1;
    height:100%;
    display: flex;

  }
  .validation{
    border: 0;
    border-radius: 0;
    border: 1.2px solid red;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 16px;
    opacity: 0.8;
    outline: none;
    padding: 16px 52px 16px 10px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 27px !important;
    background-color: #FAFAFA ;
    /* filter: drop-shadow(12px 12px 10px rgba(0, 0, 0, 0.432)) !important; */
    color: red ;
    flex:1;
    height:100%;
    display: flex;

  }
  .validation::placeholder{
      color:red;

  }

  .sendbutton{
      border: 0;
      box-shadow: none;
      cursor: default;
      fill: #4a4a4a;
      outline: none;
      background: linear-gradient(to right,#F61B65,#F51027) ;
      opacity: 1 ;
      border-radius: 18px ;
      fill: white !important;
      width:36px;
      height:36px ;
      align-items: center;
      position: absolute;
      right: 5%;
      top:15%;
      z-index: 999;
  }
  
  .sendicon{
      color: white;
      margin-top: 20%;
      margin-left:23%;

  }

  
.body::-webkit-scrollbar {
    width: 7px;
    height: 100%;

  }
  
  /* Track */
  .body::-webkit-scrollbar-track {
    background: transparent; 
    margin-top: 22px;
    border-radius: 10px;;
  }
   
  /* Handle */
  .body::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .body::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .botmessagediv{
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;

   
  }
  .dotsmessagediv{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
   
  }
  .botmessagedots{
        /*
    -webkit-animation: gZmgDU 0.3s ease forwards;
    animation: gZmgDU 0.3s ease forwards;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: gZmgDU;  
    */
    animation:enters 0.3s ease forwards;
    transform-origin: top left;
        border-radius: 0 18px 18px 0px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    max-width: 60%;
    margin: 2px 0 1px 15px;
    overflow-x: hidden;
    overflow-y: hidden; 
       position: relative;
    padding: 12px;
    /*
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    */
    background-color: white ;
    text-align: left ;
    color: black ;
    font-family: sans-serif;
    display:flex

  }
  .botmessage{


    border-radius: 4px 18px 18px 4px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    max-width: 70%;
    margin: 2px 0 1px 15px;
    overflow-x: hidden;
    overflow-y: hidden; 
    position: relative;
    padding: 12px;
    background-color: white ;
    text-align: left ;
    color: black ;
    font-family: sans-serif;

  }
  .usermessagediv{
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  @keyframes enters {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes leaves {
    0% {
        transform: scale(1.0);
        opacity: 1;
        }
    100% { 
        transform: scale(0);
        opacity: 0;

    }
}
  .usermessage{

    animation:enters 0.3s ease forwards;
    transform-origin: bottom right;
    border-radius: 18px 4px 4px 18px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
    display: inline-block;
    font-size: 14px;
    max-width: 50%;
    margin: 0 7px 10px 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding: 12px;
    font-family: sans-serif ;
    color: rgb(255, 255, 255) ;
    background: linear-gradient(to right,#F61B65,#F51027) ;

  }
  .scroll{
      display: none;
  }

  .interestsouter{
    width:100%;
    background: transparent;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;


}
.messageendref{
    background-color: #F5F5F5;
}
.ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 2px 0 12px 0;
    text-align: center;
    padding: 0 6px;
    
}
.li{
    display: list-item;  
    text-align: -webkit-match-parent;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
}
.option{
    background:linear-gradient(to right,#F61B65,#F51027) ;
    border: 0;
    border-radius: 22px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 12px;
    cursor: pointer;
    animation: optionpop 0.5s;

}
@keyframes optionpop {
  0%{
    transform: scale(0);
    opacity: 0
  }
  100%{
    transform: scale(1);
    opacity: 1
  }

}
.optionchecked{
    background:linear-gradient(to right,#21292e,#121a1f) ;
    border: 0;
    border-radius: 22px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 12px;
    cursor: pointer;

}
.option:hover{
    background:linear-gradient(to right,#ff74a3,#ff74a3) ;
}
.maincategoriesdiv{
    
    background: transparent;
    border-radius: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 4px 0px 6px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sendinterest{
    color:#ffffff;
    background:linear-gradient(to right,#F61B65,#F51027) ;
    width:20%;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 20px;
    cursor: pointer;
    animation: popup 0.4s;
    opacity:1;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;

}
.sendinterest:hover{
    background:linear-gradient(to right,#ff74a3,#ff74a3) ;

}
.sendinterest.hide-opacity{
    opacity: 0;
}
@keyframes popup {
    0%{
      transform: scale(0);
    }
    50%{
      transform: scale(1.3);
    }
    100%{
      transform: scale(1);
    }
  }

/*Dots.............*/
.dot1 {
      animation: visibility 1s linear infinite;
      background-color: #21292e;
      height:5px;
      width:5px;
      border-radius:2.5px;
    }
    
    @keyframes visibility {
      0% {
        opacity: 1;
      }
      65% {
        opacity: 1;
      }
      66% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
    }
    
    .dot2 {
      animation: visibility2 1s linear infinite;
      background-color: #21292e;
      height:5px;
      width:5px;
      border-radius:2.5px;
      margin-left: 10%;
  
    }
    
    @keyframes visibility2 {
      0% {
        opacity: 0;
      }
      21% {
        opacity: 0.5;
      }
      22% {
        opacity: 1;
      }
      65% {
        opacity: 1;
      }
      66% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
    }
    
    .dot3 {
      animation: visibility3 1s linear infinite;
      background-color: #21292e;
      height:5px;
      width:5px;
      border-radius:2.5px;
      margin-left: 10%;
  
  
  
    }
    
    @keyframes visibility3 {
      0% {
        opacity: 0;
      }
      43% {
        opacity: 0.5;
      }
      44% {
        opacity: 1;
      }
      65% {
        opacity: 1;
      }
      66% {
        opacity: 0.5;
      }
      100% {
        opacity: 0;
      }
    }

    .yesli{
        display: list-item;
        cursor: pointer;
        display: inline-block;
    }
    .yesoption{
        background:linear-gradient(to right,#F61B65,#F51027) ;
        border: 0;
        border-radius: 25px 25px  25px 25px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
        color: #fff;
        display: inline-block;
        font-size: 14px;
        padding: 12px;
        cursor: pointer;
        border-right: solid 1px white;
        animation: optionpop 0.5s;
    
    }
    .nooption{
        background:linear-gradient(to right,#F61B65,#F51027) ;
        border: 0;
        border-radius: 25px 25px  25px 25px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
        color: #fff;
        display: inline-block;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
        cursor: pointer;
        border-left: solid 1px white;
        animation: optionpop 0.5s;

    
    
    }
    .outer{
        font-family: sans-serif;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width:100%;
        background-color:transparent ;
        padding-right: 6px;
        /*margin-left:20%;*/
    
    }
    .innerinner {
  
        background: #fff;
        border-radius: 18px 18px 0 18px;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
        color: black;
        display: inline-block;
        font-size: 14px;
        max-width: 60%;
        overflow: hidden;
        position: relative;

        width: 60%;
    
    }
    .list{
        border-bottom:solid 1px rgb(255, 255, 255);
        width:100%;
        padding-top: 5%;
        padding-bottom: 5%;
        display:flex;
        justify-content : space-between;
        background:linear-gradient(to right,#F61B65,#F51027) ;
        color:white
    
    
       
    }
    
    .listname{
        margin-left:5%;
    }
html { -webkit-text-size-adjust: 100%; }

